body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

#dealer-cards img{
  height: 175px;
  width: 125px;
  margin: 1px;
}
#player-cards img{
  height: 175px;
  width: 125px;
  margin: 1px;
}

#hit {
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 8px;
}
#stay {
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 8px;
}
#bet5 {
  height: 100px;
  width: 100px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(234, 176, 16);
}
#bet10 {
  height: 100px;
  width: 100px;
  font-size: 20px;
  border-radius: 50%;
  background-color: blue;
}
#bet25 {
  height: 100px;
  width: 100px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #b02328;
}
#deal {
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 8px;
}
#bet-buttons{
  padding: 10px;
  margin: px;
}

#bet {
  margin: 30px;
}

#reset {
  height: 50px;
  width: 150px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #ec333a;
  color: white;
}

#reset:hover{
  background-color: black;
  color: #ec333a;
}



/* body {
    background-color: #696969;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vmax;
  } */
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .player-hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  /* .card {
    margin: 3vh;
  } */
  
  /* .card.outline {
    border: 0.15em dashed #000000;
  } */
  
    /* .card.shadow {
    box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
  } */ 
  
  .deal {
    margin-top: 3vh;
    color: white;
    background-color: #b02328;
    font-weight: bold;
    border: 2px solid #000000;
  }
